@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document regexp("https://wordpress.com/(post|page)/.*") {

  .post-editor__sidebar {
    width: 70px !important;
    overflow-x: hidden !important;
    z-index: 9;
  }
  .post-editor__sidebar:hover {
    width: 272px !important;
  }
  .post-editor__sidebar > * {
    width: 256px !important;
  }
  .post-editor__sidebar:hover > * {
    width: 100% !important;
    transition: width 0s 0.15s !important;
  }

  .post-editor__content {
    margin-left: 64px !important;
    padding: 32px !important;
  }

  .sticky-panel__content {
    top: 0 !important;
  }

  .editor__header, .editor .mce-container-body {
    width: 95% !important;
  }
  .editor .tinymce {
    width: 100% !important;
  }
}
